@import url("./reset.css");

h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
ul {
  list-style-type: none;
}

.login {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.app-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 80vh;
  margin-top: 60px;
}
.app-container .active {
  color: rgb(255, 81, 0);
}

.app-container button {
  color: rgb(160, 105, 79);
  border-radius: 1cqb;
  width: fit-content;
  font-size: 10px;
}

.main-container {
  display: flex;
  width: 80%;
  gap: 22px;
}

.user-list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px solid #ccc;
  padding: 10px;
  max-height: 100%;
  overflow-y: auto;
  background-color: #f0f0f0;
  width: 50%;
}

.user-list-container .set {
  border: 3px solid #ccc;
  width: fit-content;
  padding: 10px;
  border-radius: 10%;
}

.profile-wrapper {
  /* border: 1px solid #b36b6b; */
  padding: 10px;
  width: 65%;
}

.profile-wrapper .search-bar {
  border: 3px solid #ccc;
  padding: 1px;
  width: 80%;
}

.profile-wrapper .chat-with {
  border: 3px solid #ccc;
  margin-top: 17px;
  margin-bottom: 10px;
  padding: 5px;
  width: 99%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: beige;
}

.user-profile-container {
  border: 3px solid #ccc;
  padding: 10px;
  width: 97%;
  height: 84%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(234, 229, 225);
}
.user-profile-container .messages-container {
  font-size: 12px;
  display: flex;
  flex-direction: column;

  gap: 10px;
  max-height: 400px;
  overflow-y: auto;
}
.messages-container .day-date {
  text-align: center;
}
.user-profile-container .message {
  border: 3px solid #ccc;
  width: fit-content;
  border-radius: 10%;
  padding: 5px;
  background-color: rgb(249, 243, 236);
  max-width: 100%;
}
.user-profile-container .message-left {
  align-self: flex-start;
}

.user-profile-container .message-right {
  align-self: flex-end;
}

.user-profile-container .message-send {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.user-profile-container .message-send input {
  width: 70%;
}

.date {
  color: gray;
  font-size: 8px;
  text-align: end;
}

.settings {
  min-height: 100px;
  width: fit-content;
  border: 3px solid #ccc;
}
.settings .wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
