@import url("./reset.css");

h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 20px;
}
ul {
  list-style-type: none;
}

.background-login {
 
  /* background-image: url('https://img.freepik.com/free-photo/group-friends-checking-phone_23-2148308946.jpg?size=626&ext=jpg&ga=GA1.1.1091172772.1701493794&semt=ais');
  background-size: cover;
  background-position: center;
  height: 60vh; 
  display: flex;
  justify-content: center;
  align-items: center; */
}

.login {
 
  background-color: rgba(255, 255, 255, 0.7); /* Бял цвят на фона с 70% прозрачност */
  padding: 20px;
  border-radius: 10px;
}

input[type="text"],
input[type="password"] {
 
  background-color: rgba(255, 255, 255, 0.1); 
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 10px; 
  width: 100%; 
  box-sizing: border-box; 
}

.login h2 {
  text-align: center;
}

button {
  
  background-color: #f9e5e5; 
  color: #ffffff; 
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {

  background-color: #0056b3; 
}


.app-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 80vh;
  margin-top: 60px;
}
.app-container .active {
  color: rgb(255, 81, 0);
}

.app-container button {
  color: rgb(160, 105, 79);
  border-radius: 1cqb;
  width: fit-content;
  font-size: 10px;
}

.main-container {
  display: flex;
  width: 80%;
  gap: 0px;
  border-radius: 10px;
}

.user-list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px solid #ccc;
  padding: 10px;
  max-height: 100%;
  overflow-y: auto;
  background-color: #e8e8db;
  width: 50%;
  border-radius: 10px;
}

.button-link{
  display: flex;
  justify-content: space-between;
}


.icon-and-search{
  display: flex;
  gap: 10px;
  
}

.user-list-container .set {
  border: 3px solid #ccc;
  width: fit-content;
  padding: 10px;
  border-radius: 10%;
}

.profile-wrapper {
  /* border: 1px solid #b36b6b; */
  padding: 0px;
  width: 65%;
  display: flex;
  flex-direction: column;
  
}

.profile-wrapper .search-bar {
  border: 3px solid #ccc;
  padding: 1px;
  width: 80%;
}

.profile-wrapper .chat-with {
  border: 3px solid #ccc;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
  width: 100%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: beige;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  border-radius: 10px;
}

.user-profile-container {
  border: 3px solid #ccc;
  padding: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(234, 229, 225);
  box-sizing: border-box;
  border-radius: 10px;
}
.user-profile-container .messages-container {
  font-size: 12px;
  display: flex;
  flex-direction: column;

  gap: 10px;
  max-height: 400px;
  overflow-y: auto;
}
.messages-container .day-date {
  text-align: center;
}
.user-profile-container .message {
  border: 3px solid #ccc;
  width: fit-content;
  border-radius: 10%;
  padding: 5px;
  background-color: rgb(249, 243, 236);
  max-width: 100%;
}
.user-profile-container .message-left {
  align-self: flex-start;
}

.user-profile-container .message-right {
  align-self: flex-end;
}

.user-profile-container .message-send {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.user-profile-container .message-send input {
  width: 70%;
}

.date {
  color: gray;
  font-size: 8px;
  text-align: end;
}

.settings {
  min-height: 100px;
  width: fit-content;
  border: 3px solid #ccc;
  padding: 10px;
  background-color: rgb(226, 214, 206);
}
.settings .wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.avatar {
  width: 20px; /* Променете го според вашите изисквания за размер */
  height: 20px; /* Променете го според вашите изисквания за размер */
  border-radius: 50%; /* За да направите кръгла иконка */
  background-color: #5b53f0; /* Цвят на фона */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px; /* Размер на шрифта */
  color: #fff; /* Цвят на текста */
}
